#easyTags {
    clear: both;
    padding: 0 0 10px;
    position: relative;
}

#easyTags .taggle-tag-list {
    clear: both;
    margin: 0 0 0 3em !important;
    overflow: hidden;
    padding: 0;
}

#easyTags ul.ui-sortable {
    min-height: 20px;
}

#easyTags ul.ui-sortable li {
    cursor: default;
    opacity: 1;
    padding: 2px 25px 2px 5px;
}

#easyTags ul:not(.ui-sortable) li {
    opacity: 0.5 !important;
}

#easyTags ul li {
    background-color: #666;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    margin: 0.3em 0.3em 0 0 !important;
    padding: 2px 5px;
    white-space: nowrap;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#easyTags ul li.active {
    background-color: #617ba8;
    opacity: 1 !important;
}

#tagsidebox h2 {
    overflow: hidden;
}

.admin-toggle {
    cursor: pointer;
    float: right;
    font-size: 9px;
}

#easyTags .sort-scope {
    background-color: #ccc;
    border: 0;

    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#easyTags .draghandle {
    cursor: move;
    margin: 0;
    padding: 0 5px 0 0;
    position: relative;
    top: 3px;
}

#easyTags .delete {
    cursor: pointer;
    margin: 4px 0 0 1em;
    position: absolute;
}

#easyTags img.add {
    bottom: 12px;
    cursor: pointer;
    left: 0;
    position: absolute;
}

#easyTags .help {
    color: #666;
    line-height: 1;
    margin: 0;
    padding: 5px 0 5px 3em;
}

#easyTags h4 {
    color: #555;
    line-height: 1;
    margin: 0;
    padding: 5px 0 5px 3em;
}
